.cartContainer{
  padding: 20px 10px 40px;
  display: grid;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;


  @media (width > 1260px) {
    grid-template-columns: 1fr 0.7fr;
    padding-inline: 15px;
  }
}
