.header {
  padding: 8px  15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(45deg , var(--header-color), #fff);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.20);

  img {
    object-fit: cover;
  }
}