.heroWrapper{
  position: relative;
  min-height: 60svh;
  overflow: hidden;

  @media (width > 1260px) {
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 0;
    align-items: center;
  }
}

.heroMobileImgeBox{
  position: relative;
  height: 250px;
  @media (width > 1260px) {
    display: none;
  }
}

.heroMobileImage{
  object-fit: contain;
  border-radius: 20px;
}

.heroTextBox{
  isolation: isolate;
  padding: 15px 15px 20px;
  display: flex;
  max-width: 500px;
  flex-direction: column;
  gap: 6px;
  text-align: center;

  h1{
    font-size: 3rem;
    color: var(--text-color);
  }
  h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
  }
  p{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
  }

  @media (width > 1260px) {
    position: relative;
    align-self: center;
    bottom: unset;
    text-align: left;

    h1{
      font-size: 4rem;
    }
    h3{
      font-size: 2rem;
    }
    p{
      color: lightslategrey;
      font-size: 1.6rem;
    }
  }
}

.heroDesktopImagesGrid{
  display: none;
  @media (width > 1260px) {
    display: grid;
    width: 100%;
    height: 510px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
    gap: 10px;
    .heroDesktopImage{
      border-radius: 20px;
      object-fit: cover;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      &:nth-child(1), &:nth-child(4){
        grid-row: 1/-1;
      }

      &:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/1;
        object-position: top;
      }
      &:nth-child(3){
        grid-column: 2/3;
        grid-row: 2/-1;
        object-position: bottom;
      }
    }
  }
}
